.form .below-form {
  padding: 15px 0;
  text-align: center;
}

.form ion-button {
  margin: 16px 16px 0 16px;
}

.form a {
  display: block;
  margin-bottom: 15px;
}

.form a.create {
  font-size: 18px;
}

.form a:last-child {
  color: #aaa;
  text-decoration: none;
}
